@namespace Graphene.Front.Client.Components
@using System.Linq.Expressions

<div class="shipping-method-wrapper">
    <div class="shipping-method">
        <input type="radio" name="method" id="@nameof(ShippingMethod.AtHome)" @onclick="()=>ValueChanged.InvokeAsync(ShippingMethod.AtHome)" />
        <label for="@nameof(ShippingMethod.AtHome)">
            <div class="method-name">à domicile</div>
            <div class="method-cost">6.00 €</div>
            <div class="method-delivery-time">3 jours ouvrés</div>
        </label>
    </div>
    <div class="shipping-method">
        <input type="radio" name="method" id="@nameof(ShippingMethod.RelayPoint)" @onclick="()=>ValueChanged.InvokeAsync(ShippingMethod.RelayPoint)" />
        <label for="@nameof(ShippingMethod.RelayPoint)">
            <div class="method-name">en point relais</div>
            <div class="method-cost">4.00 €</div>
            <div class="method-delivery-time">3 jours ouvrés</div>
        </label>
    </div>
</div>

@code {
    [Parameter] public ShippingMethod Value { get; set; }
    [Parameter] public EventCallback<ShippingMethod> ValueChanged { get; set; }
    [Parameter] public Expression<Func<ShippingMethod>>? ValueExpression { get; set; }
}
