@import "Variables.scss";

.scroll-y {
    overflow: hidden scroll;
    max-height: 100vh;
}

.scroll-x {
    overflow: scroll hidden;
    max-width: 100vw;
}

.scroll {
    overflow: auto;
    max-height: 100vh;
    max-width: 100vw;
}

.no-scroll {
    overflow: hidden;
}

.scrollbar-1 {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: $scrollbar-background-color;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: $scrollbar-background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb;
    }
}