@*

CE COMPOSANT REMPLACE LE VRAI BREADCRUMB LE TEMPS D'AVOIR L'ARBORESSENCE EN BASE.
À REMPLACER ENSUITE.

TODO: Métadonnées JSON + LD
https://schema.org/BreadcrumbList

*@

<h3>FakeBreadCrumb</h3>

@code {

}
