<CascadingValue Value="this">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</CascadingValue>

<div class="social-networks-wrapper">
    <h2>Suivez nous sur les réseaux sociaux</h2>
    <div class="social-networks">
        @foreach (var network in Networks)
        {
            <a href="@network.Link" rel="nofollow" target="_blank" title="Suivez Philamé Créations sur @network.Name">
                <div class="social-network">
                    @network.ChildContent
                </div>
            </a>
        }
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    public ICollection<SocialNetwork> Networks { get; } = new List<SocialNetwork>();
}