@inherits LayoutComponentBase
@layout FunnelLayout
@attribute [Authorize]
<AuthorizeView>
   @* <Authorizing>
        <LayoutView Layout="typeof(FunnelLayout)">
            <p></p>
        </LayoutView>
    </Authorizing>*@
    <Authorized>
        @Body
    </Authorized>
    <NotAuthorized>
        @if (context.User.Identity?.IsAuthenticated != true)
        {
            <RedirectToLogin />
        }
        else
        {
            <p role="alert">You are not authorized to access this resource.</p>
        }
    </NotAuthorized>
</AuthorizeView>
