@inherits LayoutComponentBase
@*<SideNav>
      <Logo Link="/">
        <img src="logo-alt.svg" style="width:14rem;" alt="logo Philamé Créations" />
    </Logo>
</SideNav>*@
<TopNav>
    <Logo Link="/">
        <img src="logo-alt.svg" style="width:14rem;" alt="logo Philamé Créations" />
    </Logo>

    @* RECHERCHE
    <Input PlaceHolder="Recherche" Type="text" class="search-bar" @oninput="test">
    <Icon>
    <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path fill="currentColor" d="M508.5 481.6l-129-129c-2.3-2.3-5.3-3.5-8.5-3.5h-10.3C395 312 416 262.5 416 208 416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c54.5 0 104-21 141.1-55.2V371c0 3.2 1.3 6.2 3.5 8.5l129 129c4.7 4.7 12.3 4.7 17 0l9.9-9.9c4.7-4.7 4.7-12.3 0-17zM208 384c-97.3 0-176-78.7-176-176S110.7 32 208 32s176 78.7 176 176-78.7 176-176 176z">
    </path>
    </svg>
    </Icon>
    </Input>
    *@
    <NavLink class="nav-entry" Match="NavLinkMatch.Prefix" ActiveClass="active" href="/catalogue/nouveautes">
        <span>Nouveautés</span>
    </NavLink>

    <NavLink class="nav-entry" Match="NavLinkMatch.Prefix" ActiveClass="active" href="/catalogue/mariages">
        <span>Mariages</span>
    </NavLink>
    <NavLink class="nav-entry" Match="NavLinkMatch.Prefix" ActiveClass="active" href="/catalogue/decoration-d-interieur">
        <span>Décoration d'intérieur</span>
    </NavLink>
    <NavLink class="nav-entry" Match="NavLinkMatch.Prefix" ActiveClass="active" href="/catalogue/bijoux-et-accessoires">
        <span>Bijoux et accessoires</span>
    </NavLink>
    <NavLink class="nav-entry" Match="NavLinkMatch.Prefix" ActiveClass="active" href="/catalogue/porte-cles-et-accessoires">
        <span>Porte-clés et accessoires</span>
    </NavLink>
    @*<NavLink class="nav-entry" Match="NavLinkMatch.All" ActiveClass="active" href="/catalogue/macrame-mural">
    <span>Macramé mural</span>
    </NavLink>
    <NavLink class="nav-entry" Match="NavLinkMatch.All" ActiveClass="active" href="/catalogue/chambre-d-enfant">
    <span>Chambre d'enfant</span>
    </NavLink>
    *@
</TopNav>
<main class="top-nav-first scroll-y scrollbar-1">
    <article class="content-wrapper">
        @Body
    </article>
    <footer>
        <div class="payment-modes-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 187.09 143.5" id="cb">
                <defs>
                    <style>
                        #cb .cls-1, #cb .cls-2 {
                            fill: #1d1d1b
                        }

                        #cb .cls-2 {
                            fill-rule: evenodd
                        }</style>
                </defs>
                <path class="cls-1" d="M173.81 137.27a7 7 0 0 0 5-2.05 7 7 0 0 0 2.07-5h6.23a13.24 13.24 0 0 1-3.89 9.39 13.25 13.25 0 0 1-9.39 3.9v-6.23zm7.05-7.05V13.28h6.23v116.94h-6.23zm0-116.94a7 7 0 0 0-2.06-5 7 7 0 0 0-5-2.07V0a13.24 13.24 0 0 1 9.39 3.89 13.23 13.23 0 0 1 3.89 9.38z"></path>
                <path class="cls-1" d="M173.81 6.23H13.28V0h160.53v6.23zm-160.53 0a7.05 7.05 0 0 0-7.05 7.05H0A13.28 13.28 0 0 1 13.28 0v6.23z"></path>
                <path class="cls-1" d="M6.23 13.28v116.94H0V13.28h6.23zm0 116.94a7.05 7.05 0 0 0 7.05 7.05v6.23A13.28 13.28 0 0 1 0 130.22z"></path>
                <path class="cls-1" d="M13.28 137.27h160.53v6.23H13.28v-6.23z"></path>
                <path class="cls-2" d="M173.15 41.44a15.75 15.75 0 0 0-15.72-15.75h-57.3v31.52h57.3a15.75 15.75 0 0 0 15.72-15.75zm0 33.43a15.75 15.75 0 0 0-15.72-15.75h-57.3v31.51h57.3a15.75 15.75 0 0 0 15.72-15.75zM56.95 59.12v-1.91H99v-2.66A28.65 28.65 0 0 0 70.37 25.9H43.63A28.65 28.65 0 0 0 15 54.55v7.64a28.65 28.65 0 0 0 28.63 28.65h26.74A28.65 28.65 0 0 0 99 62.19v-3.07zm-26.79 58.32c-1.67 3.61-4.12 5.4-7.43 5.4-4.7 0-8.35-3.88-8.35-8.87s3.68-8.9 8.26-8.9a8 8 0 0 1 7.52 5.53h-2.28a6.12 6.12 0 0 0-5.26-3.6c-3.53 0-6.28 3-6.28 6.91s2.72 6.95 6.19 6.95c2.23 0 3.77-1 5.35-3.44zm2.16-6.71c.22-4 3.27-5.65 7.51-5.65 3.27 0 6.83.91 6.83 5.42v8.95c0 .79.43 1.24 1.33 1.24a2.4 2.4 0 0 0 .72-.13v1.73a6.81 6.81 0 0 1-1.47.13c-2.3 0-2.66-1.18-2.66-2.94h-.07a7.22 7.22 0 0 1-6.75 3.43c-3.41 0-6.21-1.53-6.21-4.93 0-4.74 5.06-4.9 9.95-5.42 1.87-.2 2.91-.42 2.91-2.29 0-2.78-2.19-3.46-4.85-3.46s-4.88 1.17-5 3.92zm12.07 2.48h-.07c-.29.49-1.29.65-1.9.75-3.84.62-8.62.59-8.62 3.89 0 2.06 2 3.33 4.13 3.33 3.45 0 6.5-2 6.47-5.29v-2.68zm5.97-7.73h2.17v2.44c.7-1.29 2.37-2.38 5-2.54v2a4.66 4.66 0 0 0-3.09 1.17 4.48 4.48 0 0 0-1.75 4v9.87h-2.3v-16.94zm48.44-2.93h2.3v5.85a7.56 7.56 0 0 1 6.64-3.33 8.89 8.89 0 1 1 0 17.77 8.11 8.11 0 0 1-6.74-3.34v2.92h-2.2v-19.87zm2.13 11.52a6.83 6.83 0 1 0 6.94-7 6.75 6.75 0 0 0-6.94 7zm16.82-11.52h2.16v19.87h-2.16v-19.87zm5.75 12.21a6.52 6.52 0 0 0 12.5 2.13h2.37a9 9 0 0 1-8.25 5.95 8.89 8.89 0 1 1 7.7-13.06 10.14 10.14 0 0 1 1.06 5zm13.1-2c-.82-3.51-3.37-5.78-6.46-5.78a6.7 6.7 0 0 0-6.56 5.78zm21.4 2a6.52 6.52 0 0 0 12.51 2.13h2.37a9 9 0 0 1-8.25 5.95 8.89 8.89 0 1 1 7.7-13.06 10.12 10.12 0 0 1 1.07 5zm13.1-2c-.83-3.51-3.37-5.78-6.46-5.78a6.7 6.7 0 0 0-6.64 5.82zm-102.1 2a6.52 6.52 0 0 0 12.51 2.13h2.37a9 9 0 0 1-8.25 5.95 8.89 8.89 0 1 1 7.7-13.06 10.14 10.14 0 0 1 1.07 5zm13.1-2c-.82-3.51-3.37-5.78-6.46-5.78a6.7 6.7 0 0 0-6.57 5.78z"></path>
                <path class="cls-2" d="M61.55 105.42h5.9v1.92h-5.9V118c0 1.49.22 2.36 1.85 2.46.65 0 3.39 0 4-.11v2c-.69 0-3.43.07-4.12.07-3 0-4.1-1-4.06-4.21v-10.87h-.58v-1.92h.58v-2.86h2.29v2.86zm90.88.11v9.35c0 3.76-1.94 6-5.22 6s-5.22-2.28-5.22-6v-9.35h-2.17v9.35c0 5.09 2.58 8 7.08 8h.6c4.5 0 7.08-2.92 7.08-8v-9.35z"></path>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000.046 323.653" id="visa">
                <path fill="#00579f" d="M433.352 318.984h-81.01l50.67-313.305h81.006zM727.023 13.339c-15.978-6.34-41.322-13.34-72.66-13.34-80 0-136.336 42.661-136.682 103.653-.664 45 40.335 69.994 71 84.998 31.341 15.332 41.995 25.34 41.995 39.006-.319 20.989-25.326 30.664-48.65 30.664-32.343 0-49.673-4.988-76.009-16.666l-10.667-5.005-11.337 70.33c19 8.656 54.006 16.337 90.35 16.674 85.002 0 140.34-42 140.996-106.997.324-35.666-21.326-62.994-68-85.325-28.334-14.336-45.686-24.002-45.686-38.67.332-13.334 14.677-26.991 46.661-26.991 26.336-.67 45.686 5.661 60.345 11.996l7.327 3.327 11.017-67.654zm107.671 194.652c6.671-17.999 32.343-87.66 32.343-87.66-.337.669 6.658-18.331 10.658-29.995l5.662 26.996s15.34 74.995 18.672 90.66h-67.335zM934.69 5.68h-62.66c-19.323 0-34.004 5.662-42.341 25.995L709.357 318.98h85.002s13.994-38.669 17.002-46.997h104.011c2.326 11 9.666 46.997 9.666 46.997h75.008L934.691 5.68zm-650.012 0l-79.336 213.643-8.67-43.33C182.006 125.997 136.005 71.677 84.67 44.667l72.669 273.985h85.667L370.34 5.679h-85.662z"></path>
                <path d="M131.672 5.68H1.333L0 12.01c101.672 25.999 169.008 88.67 196.673 163.997L168.339 32.015c-4.665-20.01-19-25.676-36.667-26.336z" fill="#faa61a">
                </path>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 116.49 90.34" id="mastercard">
                <path data-name="<Tracé transparent>" d="M21.19 90.1v-6a3.56 3.56 0 0 0-3.76-3.8 3.7 3.7 0 0 0-3.36 1.7 3.51 3.51 0 0 0-3.16-1.7 3.16 3.16 0 0 0-2.8 1.42v-1.18H6.03v9.56h2.1v-5.3a2.24 2.24 0 0 1 2.34-2.54c1.38 0 2.08.9 2.08 2.52v5.32h2.1v-5.3a2.25 2.25 0 0 1 2.34-2.54c1.42 0 2.1.9 2.1 2.52v5.32h2.1zm31.06-9.56h-3.4v-2.9h-2.1v2.9h-1.94v1.9h1.94v4.36c0 2.22.86 3.54 3.32 3.54a4.88 4.88 0 0 0 2.6-.74l-.6-1.78a3.84 3.84 0 0 1-1.84.54c-1 0-1.38-.64-1.38-1.6v-4.32h3.4v-1.9zm17.74-.24a2.82 2.82 0 0 0-2.52 1.4v-1.16h-2.06v9.56h2.08v-5.36c0-1.58.68-2.46 2-2.46a3.39 3.39 0 0 1 1.3.24l.64-2a4.45 4.45 0 0 0-1.48-.26zm-26.82 1a7.15 7.15 0 0 0-3.9-1c-2.42 0-4 1.16-4 3.06 0 1.56 1.16 2.52 3.3 2.82l1 .14c1.14.16 1.68.46 1.68 1 0 .74-.76 1.16-2.18 1.16a5.09 5.09 0 0 1-3.18-1l-1 1.62a6.9 6.9 0 0 0 4.14 1.24c2.76 0 4.36-1.3 4.36-3.12s-1.26-2.56-3.34-2.86l-1-.14c-.9-.12-1.62-.3-1.62-.94s.68-1.12 1.82-1.12a6.16 6.16 0 0 1 3 .82zm55.71-1a2.82 2.82 0 0 0-2.52 1.4v-1.16H94.3v9.56h2.08v-5.36c0-1.58.68-2.46 2-2.46a3.39 3.39 0 0 1 1.3.24l.64-2a4.45 4.45 0 0 0-1.48-.26zm-26.8 5a4.83 4.83 0 0 0 5.1 5 5 5 0 0 0 3.44-1.14l-1-1.68a4.2 4.2 0 0 1-2.5.86 3.07 3.07 0 0 1 0-6.12 4.2 4.2 0 0 1 2.5.86l1-1.68a5 5 0 0 0-3.44-1.14 4.83 4.83 0 0 0-5.1 5zm19.48 0v-4.78h-2.08v1.16a3.63 3.63 0 0 0-3-1.4 5 5 0 0 0 0 10 3.63 3.63 0 0 0 3-1.4v1.16h2.08v-4.78zm-7.74 0a2.89 2.89 0 1 1 2.9 3.06 2.87 2.87 0 0 1-2.9-3.06zm-25.1-5a5 5 0 0 0 .14 10 5.81 5.81 0 0 0 3.92-1.34l-1-1.54a4.55 4.55 0 0 1-2.78 1 2.65 2.65 0 0 1-2.86-2.34h7.11v-.8c0-3-1.86-5-4.54-5zm0 1.86a2.37 2.37 0 0 1 2.42 2.32h-5a2.46 2.46 0 0 1 2.54-2.32zm52.17 3.16V76.7h-2.08v5a3.63 3.63 0 0 0-3-1.4 5 5 0 0 0 0 10 3.63 3.63 0 0 0 3-1.4v1.16h2.08v-4.78zm-7.74 0a2.89 2.89 0 1 1 2.9 3.06 2.87 2.87 0 0 1-2.9-3.06zm-70.23 0v-4.78h-2.08v1.16a3.63 3.63 0 0 0-3-1.4 5 5 0 0 0 0 10 3.63 3.63 0 0 0 3-1.4v1.16h2.08v-4.78zm-7.74 0a2.89 2.89 0 1 1 2.9 3.06 2.87 2.87 0 0 1-2.91-3.06z"></path>
                <g data-name="<Groupe>"><path fill="#ff5f00" d="M42.5 7.7H74v56.61H42.5z"></path><path data-name="<Tracé>" d="M44.5 36A35.94 35.94 0 0 1 58.25 7.7a36 36 0 1 0 0 56.61A35.94 35.94 0 0 1 44.5 36z" fill="#eb001b"></path><path d="M116.49 36a36 36 0 0 1-58.24 28.3 36 36 0 0 0 0-56.61A36 36 0 0 1 116.49 36z" fill="#f79e1b"></path></g>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-147 381 300 79.9" id="paypal">
                <path fill="#369" d="M81.446 428.905c-.96.685-2.056 1.233-3.152 1.644-1.507.548-2.878.96-4.248.96-2.056 0-3.563-.275-4.66-.96-1.096-.548-1.644-1.644-1.644-3.015 0-1.644.411-3.015 1.233-3.974.823-.96 2.056-1.781 3.426-2.33 1.508-.548 3.29-.959 5.345-1.233 1.918-.274 5.481-.685 6.03-.685.41 0 .822-.274.548.96-.137.547-1.097 4.933-1.645 6.851 0 .685-.822 1.645-1.233 1.782zm14.526-30.56c-3.152-1.781-7.948-2.603-14.526-2.603a59.92 59.92 0 0 0-9.867.822c-2.466.411-2.74.411-4.11.822-3.153.685-3.564 3.837-3.564 3.837l-.96 4.111c-.547 2.604.96 2.467 1.645 2.33 1.37-.411 2.056-.822 4.797-1.37 2.603-.549 5.481-1.097 7.674-1.097 3.289 0 5.755.411 7.4 1.097 1.644.685 2.466 1.918 2.466 3.7 0 .41 0 .822-.137 1.096-.137.274-.41.685-1.233.685-4.66.274-7.948.685-12.06 1.233-3.973.548-7.4 1.508-10.414 2.878-3.152 1.37-5.345 3.152-6.989 5.482-1.507 2.33-2.33 5.207-2.33 8.496 0 3.152 1.097 5.755 3.29 7.674 2.192 1.918 5.07 2.878 8.633 2.878 2.192 0 3.837-.137 5.07-.411 1.233-.274 2.467-.686 3.974-1.37 1.096-.412 2.193-1.097 3.289-1.92 1.233-.821 2.055-1.37 3.015-2.055l-.274 1.37c-.274 1.645.548 2.878 2.192 3.015h7.674c1.645-.137 3.152-1.507 3.426-3.014l5.893-25.626a8.294 8.294 0 0 0 .274-2.056c.137-.822.137-1.507.137-1.918.137-3.7-1.37-6.304-4.385-8.086"></path>
                <g transform="matrix(1.37037 0 0 -1.37037 2 77.966)"><defs><path id="paypal_a" d="M-147.3-288.2h296v75.9h-296z"></path></defs><clipPath id="paypal_b"><use xlink:href="#paypal_a" overflow="visible"></use></clipPath><g clip-path="url(#paypal_b)"><path fill="#1C3664" d="M-6.218-232.272c-1.3 0-2.9-1-3.7-2.3 0 0-8.5-14.6-9.4-16.1-.5-.8-.9-.3-1 0-.1.4-2.6 16-2.6 16-.3 1.3-1.6 2.3-3.2 2.3h-5.3c-1.3 0-2.1-1-1.8-2.3 0 0 4.1-23 4.9-28.4.4-3 0-3.5 0-3.5l-5.3-9.2c-.8-1.2-.3-2.3.9-2.3h6.2c1.3 0 3 1 3.7 2.3l23.7 40.1s2.3 3.4.2 3.4c-1.6-.1-7.3 0-7.3 0m-61.945 3.746c-.7 1.4-1.8 2.6-3.3 3.5-1.5.9-3.2 1.5-5.2 1.9-2 .4-4.3.5-7 .6h-12.4c-1.3 0-2.6-1-2.9-2.3l-8.4-36.4c-.3-1.2.5-2.3 1.8-2.3h5.9c1.3 0 2.6 1 2.8 2.3l2 8.8c.3 1.2 1.5 2.3 2.8 2.3h1.7c7.3 0 12.9 1.5 17 4.5 4 3 6.1 6.9 6.1 11.8.3 2-.1 3.8-.9 5.3m-12.8-11.9c-1.8-1.3-4.3-2-7.5-2h-1.5c-1.3 0-2.1 1-1.8 2.3l1.8 7.7c.3 1.2 1.6 2.3 2.8 2.3h1.9c2.3 0 4-.4 5.2-1.2 1.1-.8 1.7-1.9 1.7-3.5.1-2.4-.8-4.3-2.6-5.6"></path></g></g>
                <path fill="#369" d="M56.552 391.314c-.96-1.919-2.604-3.563-4.523-4.796-2.055-1.234-4.385-2.056-7.125-2.604-2.741-.411-5.893-.685-9.593-.685H18.318c-1.781 0-3.426 1.37-3.837 3.152l-11.51 49.881c-.412 1.645.684 3.152 2.466 3.152h8.222c1.782 0 3.563-1.37 3.974-3.015l2.74-12.06c.412-1.644 2.194-3.15 3.975-3.15h2.33c10.003 0 17.677-2.056 23.296-6.168 5.481-4.11 8.36-9.455 8.36-16.17-.138-3.015-.686-5.481-1.782-7.537M39.01 407.621c-2.467 1.782-5.893 2.604-10.278 2.604h-2.055c-1.782 0-2.878-1.37-2.467-3.152l2.467-10.552c.41-1.644 2.192-3.151 3.837-3.151h2.74c3.152 0 5.482.548 7.126 1.644 1.645 1.096 2.33 2.74 2.33 4.796 0 3.563-1.233 6.03-3.7 7.811"></path>
                <path fill="#1C3664" d="M-66.546 428.866c-.96.685-2.055 1.234-3.152 1.645-1.507.548-2.878.959-4.248.959-2.055 0-3.563-.274-4.66-.96-1.095-.547-1.644-1.644-1.644-3.014 0-1.645.411-3.015 1.234-3.974.822-.96 2.055-1.782 3.426-2.33 1.507-.548 3.289-.96 5.344-1.233 1.919-.274 5.482-.685 6.03-.685.41 0 .822-.274.548.959-.137.548-1.096 4.933-1.645 6.852 0 .685-.822 1.644-1.233 1.781zm14.526-30.559c-3.152-1.781-7.948-2.604-14.526-2.604a59.92 59.92 0 0 0-9.867.823c-2.466.41-2.603.41-4.11.822-3.153.685-3.564 3.837-3.564 3.837l-.959 4.11c-.548 2.605.96 2.468 1.645 2.33 1.37-.41 2.055-.822 4.796-1.507 2.604-.548 5.481-1.096 7.674-1.096 3.289 0 5.755.41 7.4 1.096 1.644.685 2.467 1.919 2.467 3.7 0 .411 0 .822-.137 1.096-.138.274-.412.686-1.234.686-4.66.274-7.948.685-12.06 1.233-3.973.548-7.4 1.507-10.414 2.878-3.152 1.37-5.344 3.152-6.989 5.481-1.507 2.33-2.33 5.208-2.33 8.496 0 3.152 1.097 5.756 3.29 7.675 2.192 1.918 5.07 3.014 8.633 3.014 2.192 0 3.837-.137 5.07-.41 1.234-.275 2.467-.686 3.974-1.371 1.097-.411 2.193-1.096 3.426-1.919a106.07 106.07 0 0 0 3.015-2.055l-.274 1.37c-.274 1.645.548 2.878 2.193 3.015h7.674c1.644-.137 3.151-1.507 3.426-3.015l5.892-25.626a8.294 8.294 0 0 0 .274-2.055c.137-.823.137-1.508.137-1.919 0-3.7-1.507-6.304-4.522-8.085"></path>
                <path fill="#369" d="M123.963 383.563H116.7c-1.644 0-3.426 1.234-3.837 2.878v.137s-.137.822-.411 2.193l-10.004 45.359c-.274.96-.411 1.644-.411 1.918-.411 1.645.548 2.878 2.193 3.015h7.537c1.644 0 3.289-1.233 3.837-2.878 0-.137 0-.137.137-.274l10.963-49.47c.137-1.37-.96-2.878-2.741-2.878m13.807 10.066c-.275 0-.549.137-.823.137h-.822c-.822 0-1.37-.274-1.781-.686-.412-.41-.686-1.096-.686-2.055v-4.248h-.959v-1.097h.96v-2.33h1.37v2.33h2.74v1.097h-2.74v4.522c0 .274.137.411.137.685l.41.411c.138.137.412.137.823.137.274 0 .411 0 .685-.137.274 0 .411-.137.548-.137h.137v1.37m13.191.07h-1.371v-5.481c0-.274-.137-.548-.137-.822-.137-.137-.274-.411-.411-.411-.137-.137-.548-.137-.822-.137-.412 0-.686.137-1.097.274-.41.137-.685.41-1.096.685v5.892h-1.37v-5.481c0-.274-.137-.548-.137-.822-.138-.137-.275-.411-.412-.411-.137-.137-.548-.137-.822-.137-.41 0-.685.137-1.096.274-.411.137-.685.41-1.096.685v5.892h-1.37v-7.948h1.37v.823c.41-.412.822-.549 1.233-.823.411-.137.822-.274 1.37-.274.548 0 .96.137 1.37.274.412.274.686.548.823.96.548-.412 1.096-.823 1.507-.96.411-.137.96-.274 1.37-.274.823 0 1.508.274 1.92.822.41.549.684 1.234.684 2.193v5.207"></path>
            </svg>

        </div>
    </footer>
</main>

<Modal />

@code {
    private void test(ChangeEventArgs evt)
    {
        Console.WriteLine("Test");
        Console.WriteLine(evt.ToString());
        Console.WriteLine(evt.Value);
    }
                }